<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<!-- FONTS -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
			rel="stylesheet"
		/>
		<title>App notes</title>
	</head>
	<body>
		<div class="container">
			<%- include('partials/navbar') %>
			<main>
				<h1>Ruta principal</h1>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus modi eaque, accusantium omnis asperiores
					sapiente accusamus vel ipsum sit pariatur laborum distinctio. Totam corporis consequuntur ad iusto asperiores!
					Sapiente, amet? Facere sequi dicta, placeat fugiat cum error dolores. Minus deserunt incidunt reprehenderit?
					Eaque aspernatur illum, sequi voluptatibus incidunt adipisci. Et nesciunt praesentium quam culpa? A, rem?
					Aspernatur esse suscipit expedita. Tempore sunt unde, voluptas velit animi et omnis ullam quaerat temporibus
					quod dignissimos cupiditate explicabo similique dolore consectetur, nam quae ipsum quas necessitatibus culpa
					vel suscipit perspiciatis iusto possimus? Cumque? Tenetur dolorum voluptas quas eaque distinctio in dolorem
					officiis veritatis repellendus autem magnam minima enim, ipsum beatae fugiat? Facere, aliquid ipsum voluptatum
					cupiditate autem libero aperiam dicta non culpa natus. Odit iure quis aut itaque quam quas, ipsum, ipsam sequi
					facilis perferendis ut officiis ab consequuntur sit nobis harum est dolore praesentium dolor laborum facere.
					Fugiat officiis officia totam amet? Sed eveniet inventore in similique odio, necessitatibus sit hic?
					Temporibus at pariatur nulla cupiditate iusto cumque numquam aut autem tempora iste dolor sapiente corporis,
					maiores, expedita voluptates enim! Facere, maxime? Aperiam, ipsa vel sed possimus fugiat distinctio nulla iure
					veritatis maiores placeat, dolor dolore officiis doloremque beatae. Exercitationem sapiente adipisci nulla
					ullam odit cum? Expedita illum voluptates atque consequuntur officiis. Laboriosam dolores sequi sed itaque
					magni nulla nihil quidem minus voluptas amet nisi quisquam excepturi, vero impedit doloribus totam nostrum
					quibusdam vitae iure exercitationem voluptates aliquam ad corrupti! Laudantium, minima? Incidunt harum
					consectetur dolores! Amet aliquid obcaecati asperiores aliquam dicta beatae quia! Esse blanditiis amet ex
					placeat exercitationem facilis tempore earum, voluptates recusandae nesciunt iste aspernatur ratione eaque
					vitae minus! Aliquid veritatis temporibus tenetur delectus error, omnis, repellat magnam vitae eligendi
					officiis ea, velit repudiandae. Nihil consectetur accusantium quod soluta facilis atque, commodi rerum
					reprehenderit temporibus dolore, asperiores aperiam fugiat!
				</p>
			</main>
			<%- include('partials/footer') %>
		</div>
	</body>
</html>
