<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<!-- FONTS -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
			rel="stylesheet"
		/>
		<!-- ICONS -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
		/>
		<title>App notes</title>
	</head>
	<body>
		<div class="container">
			<%- include('partials/navbar') %>
			<main>
				<div class="principal-route">
					<h1>Notes App</h1>
					<p>
						Aplicacion de notas para practicar CRUD en una API REST con "Node", "Express", "JWT", "Bcrypt" y "EJS" como
						motor de plantillas y "Pg" para realizar la conexion a base de datos Postgres aplicando el patron de diseño
						"MVC" y frontend con "Vanilla JavaScript".
					</p>
				</div>
			</main>
			<%- include('partials/footer') %>
			<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		</div>
	</body>
</html>
