<header>
	<nav class="navbar">
		<a href="/">Notes App</a>
		<ul class="navbar-ul">
			<li id="login" class="login">
				<a href="/login-register" class="navbar-icons"
					>Iniciar Sesion<span class="material-symbols-outlined"> login </span></a
				>
			</li>
			<li id="logout" class="logout display-none">
				<a href="/login-register" class="navbar-icons"
					>Cerrar sesion<span class="material-symbols-outlined"> logout </span></a
				>
			</li>
		</ul>
	</nav>
</header>
