<header>
	<nav class="navbar">
		<a href="/">Notes App</a>
		<ul class="navbar-ul">
			<li>
				<a href="" class="navbar-icons disabled"><span class="material-symbols-outlined"> person </span></a>
			</li>
			<li>
				<a href="/login-register" class="navbar-icons"
					><span class="material-symbols-outlined"> account_circle </span></a
				>
			</li>
		</ul>
	</nav>
</header>
