/* NORMALIZE */
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--notes-color: #f4d03f;
	--background-color: #222;
}

.container {
	font-family: "Roboto Mono", monospace;
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

main {
	background-color: var(--background-color);
}

/* BARRA DE NAVEGACION */

header {
	width: 100%;
	background-color: #000;
}

.navbar {
	display: flex;
	width: 50%;
	min-width: 500px;
	align-items: center;
	margin: 0 auto;
	justify-content: space-between;
}

.navbar a {
	text-decoration: none;
	color: var(--notes-color);
	font-size: 14px;
	display: flex;
	align-items: center;
}

.navbar a:hover {
	border-bottom: 1px solid var(--notes-color);
}

.navbar-icons span {
	font-size: 30px;
}

.navbar-ul {
	display: flex;
	list-style: none;
}
/*  */

/* FORMULARIOS */

.container-forms {
	display: flex;
	justify-content: space-evenly;
	width: 45%;
	min-width: 600px;
	margin: 50px auto;
	background-color: var(--notes-color);
	padding: 30px;
	border: 3px solid;
}

.container-forms form {
	display: flex;
	flex-direction: column;
	width: 45%;
	margin: 0 auto;
}

.container-forms form h2 {
	text-align: center;
	font-size: 25px;
}

.container-forms form input {
	font-family: "Roboto Mono", monospace;
	margin-top: 30px;
	padding: 10px 10px;
	font-size: 14px;
	background-color: var(--notes-color);
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
}

.container-forms form input::placeholder {
	color: #222;
}

.container-forms form button {
	padding: 10px 10px;
	margin-top: 30px;
	background-color: #000;
	cursor: pointer;
	font-family: "Roboto Mono", monospace;
	font-weight: 700;
	border: none;
	color: var(--notes-color);
	border: 1px solid #000;
}

hr {
	background-color: #000;
	border: none;
	width: 1px;
}

.container-forms form button:hover {
	background-color: var(--notes-color);
	color: #000;
	transition: all 0.3s ease;
}

.error-register,
.error-login {
	color: red;
	font-size: 12px;
}

/* NOTAS */

.hi-user {
	color: var(--notes-color);
	width: 50%;
	margin: 20px auto;
	text-align: center;
}

.container-notes {
	width: 50%;
	min-width: 500px;
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
	grid-auto-rows: 300px;
	row-gap: 20px;
	column-gap: 20px;
}

.form-notes {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--notes-color);
	padding: 20px 20px;
	border: 3px solid #000;
}

.form-notes input,
.form-notes textarea {
	font-family: "Roboto Mono", monospace;
	background-color: var(--notes-color);
	border: none;
	outline: none;
	border-bottom: 1px solid #000;
	width: 100%;
}

.form-notes input::placeholder,
.form-notes textarea::placeholder {
	color: #444;
}

.form-notes textarea {
	resize: none;
	padding-bottom: 70px;
	margin-top: 20px;
	font-size: 15px;
}

.form-notes input {
	margin-top: 20px;
	font-size: 18px;
}

.title-note {
	font-weight: 800;
}

.date-note {
	font-size: 14px;
}

.container-buttons {
	display: flex;
	justify-content: space-evenly;
}

.notes-button {
	cursor: pointer;
	color: #000;
	background-color: var(--notes-color);
	border: none;
	padding: 10px;
	margin-top: 10px;
	font-size: 16px;
}

.notes-button:hover {
	color: var(--notes-color);
	background-color: #222;
	border-radius: 100%;
	transition: all 0.4s ease;
}

/* BOTON DE AÑADIR */
.container-add-button {
	width: 50%;
	margin: 0 auto;
}

.add-button {
	cursor: pointer;
	background-color: #222;
	color: var(--notes-color);
	border: none;
	padding: 5px;
	display: flex;
	align-items: center;
}

.add-button:hover {
	/* background-color: var(--notes-color); */
	color: #f7f0d1;
	/* transition: all 0.3s ease-in; */
}

.add-button p {
	font-weight: 800;
}

.add-button span {
	font-size: 40px;
}

/* FOOTER */
footer {
	color: var(--notes-color);
	background-color: #000;
	text-align: center;
}

/* N_ID PARA ENCONTRARLO EN BASE DE DATOS */
.display-none {
	display: none;
}

/* INDEX.EJS */

.principal-route {
	width: 50%;
	margin: 0 auto;
	color: var(--notes-color);
}
.pagination {
	display: flex;
	width: 100%;
	justify-content: center;
}

.pagination-item {
	list-style: none;
	margin: 0 5px;
}

.pagination-button {
	color: #000;
	background-color: var(--notes-color);
	font-family: "Roboto Mono", monospace;
	padding: 10px 15px;
	font-size: 16px;
	font-weight: 800;
	cursor: pointer;
	border: 2px solid #000;
}

.active {
	color: var(--notes-color);
	background-color: #000;
}

.pagination-button:hover {
	color: var(--notes-color);
	background-color: #000;
}

.disabled {
	background-color: #ccc;
}

.disabled:hover {
	background-color: #ccc;
	cursor: default;
	opacity: 100%;
	color: #000;
}
